
navbar {
    width: 250px; 
    background-color: white 
    height: 100vh; 
    position: fixed; 
    display: flex;
    flex-direction: column; 
    
    align-items: center; 
    padding: 10px;
    border-right :2px solid #ddd
  }
  
 
  .instagram {
    font-size: 24px; 
    font-weight: bold;
    text-decoration: none; 
    color: #333; 
    margin-bottom: 20px; 
  }
  
  
  .lists {
    width: 100%; 
  }
  
  
  .unorderedlist {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
  }
  
  
  .list1 {
    display: flex; 
    align-items: center; 
    margin: 10px 0; 
    padding:4.5%;
  }
  
  .list1 i {
    margin-right: 10px; 
  }
  
  a {
    text-decoration: none; 
    color: #333; 
    font-size: 17px; 
  }
  
  
  .logo
  {
    font-size: 25px;
  }
  .main-content {
    margin-left: 60px; 
    flex: 1;
    padding: 20px;
}

.instagram-feed {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 2%;
}

.post {
    background-color: #ffffff;
    border-radius: 8px;
    margin-bottom: 20px;
    border: none;
}

.post-header {
    display: flex;
    align-items: center;
    padding: 10px;
    
}

.post-header .profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-header .username {
    font-weight: bold;
    font-size: 16px;
}

.post-image {
    width: 80%;
    height: 80vh;
}

.post-actions {
    padding: 10px;
    display: flex;
    align-items: center;
}

.post-actions i {
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
}

.post-caption {
    padding: 10px;
}

.post-caption .username {
    font-weight: bold;
}
.navbar-nav li {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 1%;
}
.instagram-feed img{
    border: 1px solid black;
}
.fa-floppy-disk
{
    margin-left: 60%;
}

@media (max-width: 768px) {
    .sidebar {
        width: 50px;
        right: 0;
        padding-top: 10px;
    }
    
    .main-content {
        margin-right: 50px;
    }
    
    .sidebar .logo {
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .sidebar li {
        margin-bottom: 15px;
    }
    
    .sidebar i {
        font-size: 20px;
    }
}



@media (max-width: 576px) {
    .nav {
        display: none;
    }
}