
navbar {
    width: 250px; 
    background-color: white 
    height: 100vh; 
    position: fixed; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 10px;
    border-right :2px solid #ddd
  }
  
 
  .instagram {
    font-size: 24px; 
    font-weight: bold;
    text-decoration: none; 
    color: #333; 
    margin-bottom: 20px; 
  }
  
  
  .lists {
    width: 100%; 
  }
  
  
  .unorderedlist {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
  }
  
  
  .list1 {
    display: flex; 
    align-items: center; 
    margin: 10px 0; 
    padding:4.5%;
  }
  
  .list1 i {
    margin-right: 10px; 
  }
  
  a {
    text-decoration: none; 
    color: #333; 
    font-size: 17px; 
  }
  .image-container {
    position: relative;
    display: inline-block;
}
.fa-arrow-right {
    position: absolute;
    margin-top: 3%;
    right: 10px;
    color:black;
    font-size: 24px;
    background: white;
    border-radius: 50%;
    padding: 5px;
}
  
  .logo
  {
    font-size: 25px;
  }
  .main-content {
    margin-left: 60px; 
    flex: 1;
    padding: 20px;
}

.instagram-feed {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 2%;
}

.post {
    background-color: #ffffff;
    border-radius: 8px;
    margin-bottom: 20px;
    border: none;
}

.post-header {
    display: flex;
    align-items: center;
    padding: 10px;
    
}

.post-header .profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-header .username {
    font-weight: bold;
    font-size: 16px;
}

.post-image {
    width: 80%;
    height: auto;
}

.post-actions {
    padding: 10px;
    display: flex;
    align-items: center;
}

.post-actions i {
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
}

.post-caption {
    padding: 10px;
}

.post-caption .username {
    font-weight: bold;
}
.navbar-nav li {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 1%;
}
.instagram-feed img{
    border: 1px solid black;
}
.fa-floppy-disk
{
    margin-left: 60%;
}


@media (max-width: 760px) {
    navbar {
        width: 100px; 
        background-color: white ;
        border-right :2px solid #1a1919
      }
      .list1  a{
        display: none;
    }
    .logo
    {
        margin-left: 20%;
        
    }
    .instagram-feed {
        margin-left: 100px; 
        flex: 1;
        padding: 20px;
    }
    .instagram
    {
        font-size: 12px;
    }
 
}
   


@media (max-width: 576px) {
    .nav {
        display: none;
    }
    .post-image {
        width: 30%;
        height: 30vh;
    }
}
@media (max-width: 350px) {
    .nav {
        display: none;
    }
    .post-image {
        width: 10%;
        height: 10vh;
    }
}
@media (min-width: 100px) and (max-width: 300px)
{
    .nav {
        display: none;
    }
    .post-image {
        width: 50vw;
        height: 20vh;
    }
}